* {
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;

}

a:link {
  text-decoration: none;
}

header {
  background-color: red;
  width: 100%;
}
header img {
  height: 100px;
  width: 100px;
  border-radius: 65px;
  position: relative;
  top: 15px;
  left: 27px;
 
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.section1 img {
  width: 100%;
  height: 580px;
}
.section1 {
  display: flex;
  margin-top: -16px;
}
.block1,
.block2 {
  width: 50%;
}

ul {
  border: 5px solid black;
}